@model Record

@{
    ViewData["Title"] = "Details";
    Layout = "_Layout";
}

<h1>Details</h1>

<div>
    <h4>紀錄</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2"></dt>
        標題
        </dt>
        <dd class="col-sm-10"></dd>
        @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2"></dt>
        金額
        </dt>
        <dd class="col-sm-10"></dd>
        @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class="col-sm-2"></dt>
        日期與時間
        </dt>
        <dd class="col-sm-10"></dd>
        @Html.DisplayFor(model => model.DateAndTime)
        </dd>
        <dt class="col-sm-2"></dt>
        類別
        </dt>
        <dd class="col-sm-10"></dd>
        @Html.DisplayFor(model => model.Category)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
